
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
*{
    color: white;
    box-sizing: border-box;
}

body {
    background: url(/images/hero-background.png) no-repeat top #0c1125;
    background-size: 100%;
    font-family: 'Hind Siliguri', sans-serif !important;
}
.all{
    padding: 0 10px;
}
a {
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    
}
a:hover{
    color: #fff ;
    font-weight: 200; 
}
.tokenomics{

    width: 100%;
}
li {
    display: inline-block;
    width: 40px;
    svg {
        font-size: 24px;
    }
}
header{
    margin-top: 5px;
}
.bg-light{
    background: none !important;
}
.navbar-brand{
    width: 170px;
}
.navbar-collapse{
    background-color: black;       
}
.nav-menu-ul{
    position: relative;
    float:right;
    right:33%;
        li{
            width: auto;
            padding: 5px;
            div {
                padding:  5px 20px ;
            }
        
    
    }

}
.navbar-toggler{
    background-color: #fff;
}
.nav-link{
    color: white !important;
    text-align: center;
}
.menu-launch{
    background-color: #e2107b;
    font-weight: 600;
    border-radius: 8px;
    
}
    
.defi{
    margin: 50px 0px 30px 0;
    display: inline-block;
    text-align: center;
    ul{
        text-align: center;
    }
}
.join-discord:hover{
    background-color: #e2107b;
    text-decoration: underline;
}
.feature h1{   
    font-weight: 600;
    margin: 0;
    color:white;
}
.launch-app{
    background-color: #e2107b;
    text-align: center;
    display: inline-block;
    font-weight: 600;
    border-radius: 8px;
    margin-right: 10px;
    padding: 8px 30px;
}
.join-discord {
    border: 1px solid #e2107b;
    display: inline-block;
    font-weight: 600;
    border-radius: 8px;
    margin: 10px;
    padding: 8px 30px;
}

.access {
    text-align: center;
    margin: 100px 0px 60px 0px;

}
.box-access{
    
    border: 1px solid #301748;
    border-radius: 20px;
    padding: 30px 12px;
    margin: 15px 0px;

    &-col {
        text-align: center;
        height: 100%;  

        h5 {
            color: #fff;
            font-weight: 800;
            font-size: 2rem;
        }
        img {
            width: 50px;
            margin-bottom: 20px;
        }
        p{
            color: #8c8c8c;
            font-size: 15px;
        }

    }

    &-a {
        background-color: #e2107b;
        margin-top: auto!important;
        padding: 6px 20px ;
        color: #fff;
        font-weight: 600;
        border-radius: 8px;
        text-align: center;
    }
}
//css roadmap
.carousel-control-next{
    width: 20px;
}
.carousel-control-prev{
    width: 20px;
}
.roadmap-phone{
    width: 400px;
    margin: 100px auto;
}
.roadmap-header{
    text-align: center;
    h1{
        color: #fff;
        font-weight: 600;
        font-size: 700;
    }
}
.roadmap-box{
    overflow: visible;    
    position: relative;
    transition: all 0.6s ease 0s;
    

    &-accessramp {
        position: absolute;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        height: 100%;
        width: 100%;
        z-index: 1;

            &-content{
                width: 500px;
                height: 50px;               
                background: linear-gradient(135deg, rgb(242, 0, 130) 0%, rgb(156, 0, 213) 50%, rgb(63, 88, 240) 100%);
            }
        }

    &-contain{
        position: relative;
        display: inline-block;
        z-index: 0;
        width: 350px;
        border-radius: 28px;
        margin: 25px;
        padding: 5px;
        background: linear-gradient(135deg, rgb(242, 0, 130) 0%, rgb(156, 0, 213) 50%, rgb(63, 88, 240) 100%);

        &-content{
            width: 100%;
            height: 350px;
            background: rgb(18, 15, 36);
            border-radius: 28px;
            padding: 20px 20px 30px;
            display: flex;
            flex-direction: column;
            h1{
                color:#fff;
                font-weight: 500;
            }
            h3{
                font-size: 16px;
                line-height: 28px;
                
            }
            ul li{
                display: block;
                width: 100%;
                font-size: 16px;
                line-height: 28px;
                display: list-item;
                

            }
        }
    }
    
}
.roadmap-button{
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 60px;
    &-click{
        display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(156, 0, 213);
    border-radius: 50%;
    margin: 20px;
    color: rgb(156, 0, 213);
    cursor: pointer;
    }
    
}
.roadmap-desktop{
    display: none;
}


//css cho phan section toi day
.features-heading{
    width: 100%;
    text-align: center;
    margin: 100px auto;
    img{
        width: 100px;
        display: flex;
        justify-content: center;
        margin: 0px auto;
    }
    h1{
        color: #fff;
        margin-top: 40px;
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 2em;
    }
    p{
        color: #8c8c8c;
        font-size: 20px;
    }
}

.features-contain-box{
    margin-bottom: 50px;
}
.features-contain-content{
    border: 1px solid #301748;
    border-radius: 100%;
    padding: 20px 30px 30px;
    width: 320px;
    height: 320px;
    margin: 0 auto;
    text-align: center;
    h5{
        color: #fff;
        font-weight: 800;
        font-size: 2rem;
    }
    p{
        color: #8c8c8c;
        font-size: 16px;
    }
    img{
        width: 40px;
        top:-65px;
        text-align: center;
        position: relative;
        margin: 0 auto;    
    }
}
.icon-img{
    width: 60px !important;
}
.earn{
    background: url(/images/div-background.png) no-repeat top #0c1125;
    background-size: 100%;
    width: 100%;    
    height: 40vh!important;
    margin-bottom: 20px;

    &-contain{
        position: relative;
        margin: 0 30px;
        top:10%;
        h1{
            color: #fff;
            font-weight: 600;
            letter-spacing: 2px;
            margin: 0px;
        }
        h3{
            line-height: 30px;
        }
    }
}


.buystella{
    display: inline-block;
    background-color: #febf04;
    color: rgb(7, 7, 7);
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 30px;
    margin: 5px 15px 5px 0;
    a{
        color: black !important;
    }
}
.learnmore{
    display: inline-block;
    border:1px solid #febf04;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 30px;
    margin: 5px 15px 5px 0;
}
.learnmore :hover a{ 
    background-color: #febf04!important;
    color:black;
    text-decoration: dotted;
}

.coin{
    margin: 50px ;
    &-content{
        text-align: center;        
        p{
            font-size: 24px;
            color: #fff;
        }
        h1{
            color: #e2107b;
            margin: 0;
            padding: 0;
            font-weight: 800;
            letter-spacing: 3px;
        }
        
    }

} 
//css footer
.footer{
    text-align: center;
    margin: auto;
    color: #fff;
    background-color: #301748;
    padding-top: 28px;
    padding-bottom: 30px;
}
.footer-logo img{
    width: 160px;
}


@media only screen and (min-width: 992px){
    //css header
    .navbar-collapse{
        background:none;
        flex-grow: 0;
        justify-content: space-between;
    }
    .nav-menu-ul{
        right:0;
    }
}
@media only screen and (min-width: 1200px) {
    .all{
        padding: 0 15%;
    }
    .box{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
   
    .box-access{
        margin-right: 30px;
        &-col{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            a{
                display: flex;
                justify-content: flex-end;

                
            }
        }
    }
    .access{        
        h1{
            font-size: 2.5em;
        }
    }
    .features-contain{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .coin{
        display: grid;
        grid-template-columns:  25% 25% 25% 25%;
        max-width: 1140px;
        margin: 100px auto;
    }
    //section css
    .defi{
        margin: 300px 0;
        text-align: left;
        h1{
            font-size: 5em;
            font-weight: 600;
            line-height: .9;
        }
        h2{
            font-size: 3rem;
        }
        h3{
            font-size: 2rem;
        }
        ul{
            text-align:left;
        }
    }

    //css footer
    .footer{
        text-align: left;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 50px;
    }
    .earn{
        height: 100vh!important;
        &-contain{
           top:30%;
           padding-left: 10%;
           h1{
               font-size: 3em;
           }
           h3{
            color: #8c8c8c;
            font-weight: 400;
            span{
                color: #8c8c8c;
                font-weight: 400;

            }
           }

        }
    }
    //css roadmap
    .roadmap-phone{
        display: none;
    }
    .roadmap-desktop{
        display: block;
        width: 1000px;
        margin: 200px auto;
    }
    .roadmap-box-contain{
        width: 28%;
    }
    
}
    

   
